<div class="getQuote"> 
        <header>
                <h2>Insubuy Get Quote</h2>
        </header>
    <form [formGroup]="quotesForm" autocomplete="off" class="wrapper">

         <div class="form-group">
            <label for="policyMaximum" autofocus>Policy maximum </label>
                <div>
                    <select id="policyMax" formControlName="policyMax" name="policyMax" class="policySelect">
                        <option value="" disabled selected>Choose your policy maximum</option>
                            <option value="50">50,000</option>
                            <option value="100">100,000</option>
                            <option value="250">250,000</option>
                            <option value="500">500,000</option>
                    </select>
                </div>
                <span class="danger" *ngIf="quotesForm.get('policyMax').errors && (quotesForm.get('policyMax').touched || quotesForm.get('policyMax').dirty)" role="alert">Please choose your Policy Maximum </span>
        
         </div>

         <div class="form-group">
                <label for="age" autofocus>Age/Year</label>
                <div>
                    <input type="number" formControlName="age" name="age" id="age"  maxlength="4" placeholder="Provide your Age or Birth Year" [(ngModel)]="age" /> 
                </div>

                <span class="danger" *ngIf="quotesForm.get('age').errors && (quotesForm.get('age').touched || quotesForm.get('age').dirty)" role="alert">Please provide your Age or Birth Year </span>

                <span class="danger" *ngIf="invalidAge && (quotesForm.get('age').touched || quotesForm.get('age').dirty)" role="alert">Please provide valid Age or Birth Year </span>
        </div>
        
        <div class="form-group">
                <label for="travelDates" autofocus>Travel Dates (mm/dd/yyyy)</label>
                <div class="dateDiv">
                    <input type="text" onfocus="(this.type='date')" formControlName="startDate" name="startDate" id="startDate" class="dateInput" placeholder="Start Date"/> 
                    <input type="text" onfocus="(this.type='date')" formControlName="endDate" name="endDate" id="endDate" class="dateInput" placeholder="End Date"/>
                </div>
 
                <span class="danger" *ngIf="quotesForm.get('startDate').errors && (quotesForm.get('startDate').touched || quotesForm.get('startDate').dirty)" role="alert">Please choose Start Date </span>
                
                <span class="danger" *ngIf="quotesForm.get('endDate').errors && (quotesForm.get('endDate').touched || quotesForm.get('endDate').dirty)" role="alert">Please choose End Date </span>
                
                <span class="danger" *ngIf="invalidDate && (quotesForm.get('endDate').touched || quotesForm.get('endDate').dirty)" role="alert"> End Date can not be before Start Date! </span>
  
        </div>

        <div class="form-group">
                <label for="citizenship" autofocus>Citizenship</label>
                <div>
                    <input type="text" formControlName="citizenship" name="citizenship" id="citizenship"  placeholder="Provide your country of citizenship" [(ngModel)]="citizenship" /> 
                </div>

                <span class="danger" *ngIf="quotesForm.get('citizenship').errors && (quotesForm.get('citizenship').touched || quotesForm.get('citizenship').dirty)" role="alert">Please choose your country of citizenship </span>

                <span class="danger" *ngIf="invalidCitizen && (quotesForm.get('citizenship').touched || quotesForm.get('citizenship').dirty)" role="alert">Please provide valid country of your citizenship </span>
        </div>

        <div class="form-group">
                <label for="state" autofocus>State</label>
                <div>
                    <input type="text" formControlName="state" name="state" id="state"  placeholder="Choose State" [(ngModel)]="state" /> 
                </div>

                <span class="danger" *ngIf="quotesForm.get('state').errors && (quotesForm.get('state').touched || quotesForm.get('state').dirty)" role="alert">Please provide your state. </span>

                <span class="danger" *ngIf="invalidState && (quotesForm.get('state').touched || quotesForm.get('state').dirty)" role="alert">Please provide valid state. </span>
        </div>

    </form>

        <footer>
                <div class="submitQuotes">
                        <button type="submit" class="quotesBtn" (click)="getQuotes()">GET QUOTES </button>
                </div>

                <div class="reset">
                        <button class="resetBtn" (click)="reset()">
                                Reset Form
                        </button>
                </div>
        </footer>
</div>
