<div class="wrapper">

        <div>
                <input type="text" placeholder="Search for Plans" [(ngModel)]="filterby" >
              </div><!-- /input-group -->
           
          <br/>
    
        <div *ngIf="filterby">
          Plans Filtered Using: {{filterby}}
        </div>

    <div *ngFor="let plan of plans | quotesFilter:filterby">
        <ul>
            <li>Id: {{plan.id}}</li>
            <li>Price:  {{plan.price}} </li>
            <li>Name: {{plan.name}} </li>
            <li>Type: {{plan.type}} </li>
            <li>Description: {{plan.description}} </li>
            <li>Section: {{plan.section}} </li>
            <li>Best Sellers: {{plan.bestSellers}} </li>
        </ul>
    </div>
</div>